<h2>Eventos</h2>
<hr>

<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro:</label>
    <input type="text" class="form-control mr-2" placeholder="buscar" [(ngModel)]="filtroLista">
  </div>
</div>
<h3>Filtro : {{filtroLista}}</h3>
<table class="table table-striped">

  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>
        <button type="button" class="btn btn btn-outline-light btn-sm" (click)="ShowImage()">
          {{showImage ? 'Ocultar Imagem' : "Ver Imagem "}}</button>
      </th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Participantes</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>

  <tbody *ngIf="events && events.length">
    <tr *ngFor="let event of events">
      <td>{{event.eventoId}}</td>
      <td>
        <img src="{{event.imageURL}}" alt="" class="event-image" [collapse]="!showImage" [isAnimated]="true"
          [style.widht.px]="widhtImage" [style.height.px]="heightImage" [style.margin.px]="marginImage">
      </td>
      <td>{{event.tema}}</td>
      <td>{{event.local}}</td>
      <td>{{event.dataEvento}}</td>
      <td>{{event.qtdPessoas}}</td>
      <td>{{event.lote}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm mr-2">Editar</button>
        <button type="button" class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!events?.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum Evento Encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
