<h2>Eventos</h2>
<hr>

<form action="" class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="buscar">
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</form>
<table class="table table-striped">

  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Imagem</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Participantes</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>

  <tbody *ngIf="events && events.length">
    <tr *ngFor="let event of events">
      <td>{{event.eventoId}}</td>
      <td>
        <img src="{{event.imageURL}}" alt="" class="event-image"
        [style.widht.px]="50"
        [style.height.px]="110"
        [style.margin.px]="5">

      </td>
      <td>{{event.tema}}</td>
      <td>{{event.local}}</td>
      <td>{{event.dataEvento}}</td>
      <td>{{event.qtdPessoas}}</td>
      <td>{{event.lote}}</td>
      <td></td>
    </tr>
  </tbody>
  <tfoot *ngIf="!events?.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum Evento Encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
